* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: yellow;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 70%;

}

.timer {
    position: absolute;
    top: 5rem;
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px)
}

.quote-input {
    background-color: transparent;
    border: 2px solid darkgoldenrod;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color:green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}